Options -Indexes +FollowSymLinks

RewriteEngine On
RewriteBase /

# Evita o loop infinito se o arquivo ou diretório existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Encaminha tudo para o index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
